<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>&#128293 ASF</title>
        {% block stylesheets %}
        <link type="text/css" href="{{ asset('assets/dist/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link type="text/css" href="{{ asset('assets/src/css/index.css') }}" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block nav %}
                {% include 'includes/navBar.html.twig' %}
            {% endblock %}
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
            {% block footer %}
                <footer class="py-5 bg-dark">
                    <div class="container">
                        <p class="m-0 text-center text-warning">Copyright &copy; Training Factory Den Haag 2019</p>
                    </div>
                </footer>
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
